<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logsipta' : 'logsipta2'}}.jpeg" alt="logo">
        <span>Post-Stock</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div class="ms-5">
        <span class="p-badge" >FAZAH HOLDING</span>
    </div>

    <div #topbarmenu class="layout-topbar-menu flex flex-wrap gap-2" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <i class="pi pi-bell mr-4 p-text-danger" pBadge style="font-size: 2rem" value="2" severity="danger"></i>
        <span class="p-input-icon-right">
             <input *ngIf="isCaveauModule" type="text" pInputText placeholder="Rechercher une location..."
                    [(ngModel)]="searchCode" class="mr-2" />
            <input type="text" placeholder="Rechercher" pInputText/>
            <i class="pi pi-search"  ></i>
        </span>
        <p-splitButton label="Mbayang" icon="pi pi-user" [model]="items" styleClass="p-text-info"></p-splitButton>
    </div>
</div>
