
<h1>Liste des clients</h1>
<!--
<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    &lt;!&ndash; <button pButton pRipple label="télécharger" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>&ndash;&gt;
                    <button pButton type="button" icon="pi pi-file-pdf" class="p-button-warning mr-2"
                            (click)="generatePDF()"></button>
                    <button pButton type="button" icon="pi pi-file-excel" class="p-button-success mr-2"
                            (click)="exporterEnExcel()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="clients" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nom','telephone','adresse']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste des clients <span *ngIf="formNom?.get('nom')?.value && !nomDialog">ayant le nom {{formNom?.get('nom')?.value}}</span><span *ngIf="formAdresse?.get('adresse')?.value && !adresseDialog">ayant l'adresse {{formAdresse.get('adresse')?.value}}</span><span *ngIf="formTelephone.get('telephone')?.value && !telephoneDialog">ayant le numéro de telephone {{formTelephone.get('telephone')?.value}}</span></h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="telephone">Téléphone<p-sortIcon field="telephone"></p-sortIcon></th>
                        <th pSortableColumn="adresse">Adresse<p-sortIcon field="adresse"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-client>
                    <tr>
                        <td style=" min-width:10rem;"><span class="p-column-title">Code</span>
                            <span> {{client?.nom}}</span>
                        </td>
                        <td style=" min-width:10rem;"><span class="p-column-title">Code</span>
                            {{client?.telephone}}
                        </td>
                        <td style=" min-width:10rem;"><span class="p-column-title">Code</span>
                            {{client?.adresse}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple  icon="pi pi-pencil" class=" p-button p-component p-button-text p-button-icon-only p-button-success mr-2"  (click)="editClient(client)"><span class="p-button-icon pi pi-pencil" aria-hidden="true"></span></button>
                                <button pButton pRipple  icon="pi pi-trash" class=" p-button p-component p-button-text p-button-icon-only p-button-danger"  (click)="deleteClient(client)"><span class="p-button-icon pi pi-trash" aria-hidden="true"></span></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" header="Details du client" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="form" (ngSubmit)="createClient()">
                    <div class="field">
                        <label for="nom">Nom: </label>
                        <input type="text" pInputText id="nom" formControlName="nom"/>
                    </div>
                    <div class="field">
                        <label for="telephone">Téléphone: </label>
                        <input type="text" pInputText id="telephone" formControlName="telephone">
                    </div>
                    <div class="field">
                        <label for="adresse">Adresse: </label><br>
                        <textarea id="adresse"  formControlName="adresse"></textarea>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
                <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text p-button-success" (click)="createClient()" [disabled]="form.invalid" [loading]="loadingClient"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="client">Voulez-vous supprimer <b>{{client.nom}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="non" (click)="deleteClientDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="oui" (click)="confirmDelete()" [loading]="loadingClient"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="searchDialog" [style]="{width: '600px',height:'300px'}" header="Rechercher par" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <p-button class="p-button p-button-text" icon="pi pi-search" (click)="nomDialog=true" label="nom"></p-button>
                <p-button class="p-button p-button-text" icon="pi pi-search" (click)="adresseDialog=true" label="adresse"></p-button>
                <p-button class="p-button p-button-text" icon="pi pi-search" (click)="telephoneDialog=true" label="telephone"></p-button>
                <p-dialog [(visible)]="nomDialog" [style]="{width: '600px',height:'300px'}" header="Rechercher par nom" [modal]="true" class="p-fluid">
                    <ng-template pTemplate="content">
                        <form [formGroup]="formNom" (ngSubmit)="getClientsByNom(formNom?.get('nom')?.value)">
                            <div class="field">
                                <label for="nomSearch">Liste clients par nom: </label><br>
                                <input  id="nomSearch"  formControlName="nom" type="text">
                                <i class="pi pi-search" (click)="getClientsByNom(formNom?.get('nom')?.value)"></i>
                                <i class="pi pi-times" (click)="resetFormSearch()"></i>
                            </div>
                        </form>
                    </ng-template>
                </p-dialog>
                <p-dialog [(visible)]="adresseDialog" [style]="{width: '600px',height:'300px'}" header="Rechercher par adresse" [modal]="true" class="p-fluid">
                    <ng-template pTemplate="content">
                        <form [formGroup]="formAdresse" (ngSubmit)="getClientsByNom(formAdresse?.get('adresse')?.value)">
                            <div class="field">
                                <label for="adresseSearch">Liste clients par adresse: </label><br>
                                <input  id="adresseSearch"  formControlName="adresse" type="text">
                                <i class="pi pi-search" (click)="getClientsByAdresse(formAdresse?.get('adresse')?.value)"></i>
                                <i class="pi pi-times" (click)="resetFormSearch()"></i>
                            </div>
                        </form>
                    </ng-template>
                </p-dialog>
                <p-dialog [(visible)]="telephoneDialog" [style]="{width: '600px',height:'300px'}" header="Rechercher par téléphone" [modal]="true" class="p-fluid">
                    <ng-template pTemplate="content">
                        <form [formGroup]="formTelephone" (ngSubmit)="getClientByTelephone(formTelephone.get('telephone')?.value)">
                            <div class="field">
                                <label for="telephoneSearch">Liste clients par telephone: </label><br>
                                <input  id="telephoneSearch"  formControlName="telephone" type="tel">
                                <i class="pi pi-search" (click)="getClientByTelephone(formTelephone.get('telephone')?.value)"></i>
                                <i class="pi pi-times" (click)="resetFormSearch()"></i>
                            </div>
                        </form>
                    </ng-template>
                </p-dialog>
            </ng-template>
        </p-dialog>
    </div>
</div>
<div *ngIf="loadingClient" class="loading-message text text-center">
    <p>Chargement, veuillez patienter...</p>
</div>

-->
